<!DOCTYPE html>
<html>
  <head>
    <title>ibiCASA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application" %>
    <% unless %w(login sign_up).include? request.env['PATH_INFO'].gsub(/\//, '') %>
      <%= javascript_pack_tag "application" %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
