<!DOCTYPE html>
<html>
  <head>
    <title>ibiCASA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" if should_render_react %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
